.OuterFrameTop {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 5rem;
	overflow: visible;
	gap: 0px;
	border-bottom: 1px solid rgba(50, 72, 97, 0.27);
	position: fixed;
	width: 100%;
	z-index: 1000;
	background: rgb(255, 255, 255);
	z-index: 100;
	flex-direction: column;
}

.OuterFrameTopChild1 {
	display: flex;
	justify-content: space-between;
	height: 5rem;
	overflow: visible;
	gap: 0px;
	width: 100%;
	z-index: 1000;
}

.OuterFrameTopChild1 > .logo {
	width: 5rem;
	height: 5rem;
	cursor: pointer;
	padding: 1rem;
	opacity: 0.85;
	transition: all 0.5s ease-in-out 0s;
}

.OuterFrameTopChild1 > .nav {
	gap: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.OuterFrameTopChild1 > .nav > div {
	border: 1px solid transparent;
}

.OuterFrameTopChild1 > .nav > div > p {
	cursor: pointer;
	margin-bottom: -1px;
	font-size: 1.05rem;
	letter-spacing: -0.1mm;
	transition: all 0.5s ease-in-out 0s;
	width: min-content;
	margin: 0px 1rem;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	color: rgb(50, 72, 97);
	font-weight: 400;
	height: 1.5rem;
}

.OuterFrameTopChild1 > .nav > div > .active {
	border-bottom: 2px solid var(--color-2);
	color: var(--color-1);
}

.OuterFrameTopChild1 > .menu {
	transition: all 0.5s ease-in-out 0s;
	font-size: 1.75rem;
	width: 5rem;
	cursor: pointer;
	color: rgb(50, 72, 97);
	height: 5rem;
	line-height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.OuterFrameTopChild2 {
	width: 100%;
	background: white;
	border-bottom: 1px solid rgba(50, 72, 97, 0.27);
	height: 1.7rem;
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	overflow-x: hidden;
	overflow-y: hidden;
	gap: 2rem;
}
.OuterFrameTopChild2 > div {
	font-size: 0.9rem;
	color: var(--color-2);
	line-height: 0.9rem;
}

.OuterFrameTopChild2 > .active {
	border-bottom: 2px solid var(--color-2);
	color: var(--color-1);
}

.OuterFrameLeft {
	position: fixed;
	top: 0px;
	width: 5rem;
	height: 100vh;
	padding: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	overflow: hidden;
	left: 0%;
	gap: 0px;
	border-right: 1px solid rgba(50, 72, 97, 0.27);
	z-index: 100;
	padding-top: 2rem;
}

.OuterFrameLeft > h1 {
	text-transform: uppercase;
	font-size: 0.85rem;
	letter-spacing: 0.5mm;
	font-weight: 500;
	transform: rotate(-90deg);
	white-space: nowrap;
	color: rgb(50, 72, 97);
}

.OuterFrameLeft > div {
	transform: translateY(0px) rotate(-90deg);
}

.OuterFrameLeft > div > a {
	text-transform: uppercase;
	font-size: 0.85rem;
	letter-spacing: 0.5mm;
	font-weight: 500;
	transform: rotate(-90deg);
	white-space: nowrap;
	text-decoration: none;
	transition: all 0.5s ease-in 0s;
	color: rgb(50, 72, 97);
}

.OuterFrameRight {
	position: fixed;
	top: 0px;
	width: 5rem;
	height: 100vh;
	padding: 1rem;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	overflow: hidden;
	right: 0%;
	border-left: 1px solid rgba(50, 72, 97, 0.27);
	z-index: 100;
}

@media (max-width: 768px) {
	.OuterFrameTop {
		flex-flow: row wrap;
		height: 4rem;
	}
	.OuterFrameTopChild1 {
		flex-flow: row wrap;
		height: 4rem;
		box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}
	.OuterFrameTopChild1 > .nav {
		display: none;
	}
	.OuterFrameTopChild1 > .logo {
		border-right: 1px solid rgba(50, 72, 97, 0.27);
		height: 4rem;
		width: 4rem;
	}
	.OuterFrameTopChild1 > .menu {
		width: 4rem;
		height: 4rem;
		border-left: 1px solid rgba(50, 72, 97, 0.27);
	}
	.OuterFrameTopChild2 {
		display: flex;
	}
	.OuterFrameLeft {
		display: none;
	}
	.OuterFrameRight {
		display: none;
	}
}
@media (max-width: 859px) {
	.OuterFrameTopChild1 > .nav {
		gap: 0rem;
	}
	.OuterFrameTopChild1 > .nav > div > a {
		padding: 0 0.9rem;
	}
}
