@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--text-color: rgb(50, 72, 97);
	--color-1: #e68c1c;
	--color-2: #24316c;
	--background: #c4c4c4;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	user-select: none;
}

html,
body {
	color: var(--text-color);
	font-family: "Roboto Slab";
	scroll-behavior: smooth;
}

.hidden {
	display: none;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--background);
}

*::-webkit-scrollbar {
	width: 2px;
	height: 3px;
	background-color: var(--background);
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--color-1);
}
